<%= form_for(@junior) do |f| %>
  <% if @junior.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@junior.errors.count, "error") %> prohibited this junior from being saved:</h2>

      <ul>
      <% @junior.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline"%>
    </div>
    
    <div class="small-9 columns"><%= f.text_field :name %></div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :available , class: "right inline"%><br>
    </div>
    <div class="small-9 columns"> <%= f.check_box :available %></div> 
  </div>
  <div class="row">
    <div class="small-9 small-offset-3"><%= f.submit %></div>
  </div>
<% end %>
