<% content_for :title do %>
   Juniors
<% end %>
<h2><%= content_for :title %></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Available</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @juniors.each do |junior| %>
      <tr>
        <td><%= junior.name %></td>
        <td><%= junior.available %></td>
        <td><%= link_to 'Show', junior %></td>
        <td><%= link_to 'Edit', edit_junior_path(junior) %></td>
        <td><%= link_to 'Destroy', junior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Junior', new_junior_path %>
