<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @junior.name %>
</p>

<p>
  <strong>Available:</strong>
  <%= @junior.available %>
</p>

<%= link_to 'Edit', edit_junior_path(@junior) %> |
<%= link_to 'Back', juniors_path %>
